/* .login__text-title {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 40px;
    line-height: 43px;
    letter-spacing: -0.04em;
    width: 20vw;
    min-width: 200px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.form__logo {
    margin-top: 1rem;
    align-self: start;
    margin-left: 1rem;
} */